<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIPHY_API_KEY</key>
	<string>rDUhVfLAT1PPztPkpCaFhS9Dnds1HQZC</string>
	<key>SEARCH_PROMPT</key>
	<string>TYPE TO SEARCH A GIF</string>
	<key>CELL_IDENTIFIER</key>
	<string>cellIdentifier</string>
	<key>TRENDING</key>
	<string>Trending</string>
	<key>NOTHING_FOUND</key>
	<string>Sorry, nothing found!</string>
	<key>SEARCHING</key>
	<string>Searching...</string>
</dict>
</plist>
